<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>{% block title %}Lord of the Rings Quiz{% endblock %}</title>
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p class="footer">&copy; 2024 LoTR Quiz</p>
    </footer>
</body>
</html>


<!-- in terminal, navigate to project directory; enter "python3 NEWquiz.py" -->
