body {
    background-color: #006511;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 35px;
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

a {
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px auto;
    width: 200px;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(197, 197, 197);
}

.small-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 25px;
    border-radius: 12px;
}

img {
    border: 3px solid black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

button {
    padding: 8px;
    font-size: 18px;
    border-radius: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

.footer {
    font-size: 12px;
}
