<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='questions.css') }}">
    <title>Quiz Questions</title>
    <!-- <style>
        .correct-answer {
            background-color: lightgreen;
        }
        .wrong-answer {
            background-color: lightblue;
        }
    </style> -->
</head>
<body>
    <br>
    <h1>Question {{ question_num }} of {{ total_questions }}</h1>
    <br>
    <br>
    <p>{{ question }}</p>
    <br>
    <br>
    
    <form method="POST">
        <div class="form-options">
        {% for alternative in alternatives %}
            <div>
                <input type="radio" id="{{ alternative }}" name="answer" value="{{ alternative }}" required>
                <!-- <label 
                    {% if is_wrong and option == correct_answer %}
                        class="correct-answer"
                    {% endif %}>
                    {{ option }}
                </label> -->
                <label for="{{ alternative }}">{{ alternative }}</label>
            </div>
        {% endfor %}
        </div>
        <br>
        <br>

        <button type="submit" class="center-button">Submit</button>
    </form>

    <!-- <footer>
        <p class="footer">&copy; 2024 LoTR Quiz</p>
    </footer> -->
</body>
</html>

